@charset "UTF-8";

body {
    background-color: #c78cff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: blueviolet;
    background-color: aquamarine;
}
h2 {
    color: rgb(157, 255, 0);
}

p {
    text-align: justify;
}