@charset "UTF-8";

/*Versão mobile firts*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}


body, html {
    background-color: rgb(173, 173, 173);
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
display: block;
padding: 10px;
text-decoration: none;
background-color: rgb(95, 95, 95);
text-decoration: none;
text-align: center;
color: white;
border-top: 2px solid rgb(146, 146, 146);
}

main > ul > li > a:hover {
background-color: rgb(255, 255, 255);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

article > h1 {
padding-bottom: 20px;

}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}

span#burguer {
    background-color: rgb(138, 138, 138);
    color: white;
    width: 100vw;
    text-align: center;
    display: block;
    padding: 10px;
}

span#burguer:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}